@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');
@import "tailwindcss";


@theme {
    --color-grey-200: #D8D8D8;
    --color-blue-100: #E5EAF1;
    --color-blue-50: #F6FAFF;
    --background-image-gradient-overlay: linear-gradient(to bottom, transparent 0%, rgb(0 0 0 / 60%) 100%);
}

@utility text-preset-1 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 100%;
}

@utility text-preset-2 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 100%;
}

@utility text-preset-3 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 100%;
}

@utility text-preset-4 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
}

@utility text-preset-5 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
}

@utility text-preset-6 {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 165%;
}

@utility text-preset-7 {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 5px;
}

.img-mobile {
    @apply md:hidden;
}

.img-desktop {
    @apply hidden md:block;
}

.creation-card {
    @apply relative block;
}

.creation-card__image--desktop {
    @apply hidden lg:block;
}

.creation-card__image--mobile {
    @apply lg:hidden;
}

.creation-card__overlay {
    @apply bg-gradient-overlay absolute inset-0 z-10;
}

.creation-card__title {
    @apply absolute bottom-6 left-6 z-20 max-w-32 text-preset-5 text-white uppercase lg:max-w-46 lg:text-preset-4;
}